@import url(https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap);
/*background friends*/
.auto-Ge5KZx{
    background-color: black;
}
/*background friends list*/
.scroller-1JbKMe{
   background-color: black; 
}
/*background custom menu */
.contentRegionScroller-26nc1e{
     background-color: black; 
}
/*background custom menu list*/
.sidebarRegionScroller-3MXcoP{
    background-color: black; 
}
/*background menu-list servers*/
.scroller-2TZvBN{
    background-color: black;
    font-family: 'Dancing Script', cursive;
}
/*background info-me*/
.container-3baos1{
    background-color: black ;
}
/*background search */
.searchBar-6Kv8R2{
    background-color: black;
}
/*background activity-list */
.nowPlayingColumn-2sl4cE{
    background-color: black;
}
/*background about friends */
.container-1r6BKw.themed-ANHk51{
    background-color: black ;
}

.childWrapper-anI2G9{
    background-color: black ;
}
/* panel discord-up*/
.typeWindows-1za-n7{
    background-color: black ;
    margin-top: 0px;
    animation: color-change 3s infinite;
    
}

/*panel-up*/
.winButton-iRh8-Z{
    top: 0px;
}
/* server-chats list*/
.scroller-2wx7Hm{
    background-color: black  ;
}
/*online in server*/
.container-1giJp5{
    background-color: black ;
}
/* background-chats-in-server*/
.scroller-2FKFPG{
    background-color: black ;
}
/* chats form */
.form-2fGMdU{
    background-color: black ;
    
}
.form-2fGMdU:before{
    width: 0rem;

}

.members-1998pB{
   background-color: black ; 
}
.members-1998pB, .members-1998pB>div {
    background-color: black ;
}
.header-2o-2hj{
    background-color: black ;
}
.side-8zPYf6{
  font-family: 'Balsamiq Sans', cursive;
  
}
.contentRegion-3nDuYy{
    font-family: 'Balsamiq Sans', cursive;
    
}
.scrollableContainer-2NUZem{
    background-color: transparent;
}
.grid-1nZz7S{
    background-color: #18191c;
}
.wrapper-35wsBm{
    background-color: #18191c;
}
.button-1YfofB.buttonColor-7qQbGO{
    background-color: #18191c;
}


.theme-dark{
    --background-primary: ;
    --interactive-active: #72EB76;
}

@keyframes color-change {
    5%{
        color: #FF0000;
    }
    10%{
        color: #FF6800;
    }
    15%{
        color: #FFFF00;
    }
    20%{
        color: #2AFF00;
    }
    25%{
        color: #00C5FF;
    }
    30%{
        color: #000CFF;
    }
    35%{
        color: #B900FF;
    }
    40%{
        color: #FF0000;
    }
    45%{
        color: #FF6800;
    }
    50%{
        color: #FFFF00;
    }
    55%{
        color: #2AFF00;
    }
    60%{
        color: #00C5FF;
    }
    65%{
        color: #B900FF;
    }
    70%{
        color: #FF0000;
    }
    75%{
        color: #FF6800;
    }
    80%{
        color: #FFFF00;
    }
    85%{
        color: #2AFF00;
    }
    90%{
        color: #00C5FF;
    }
    95%{
        color: #B900FF;
    }
    100%{
        color: #FF0000;
    }
}

/* .layout-2DM8Md{
    animation: color-change 3s infinite;
} 
.name-3_Dsmg da-name overflow-WK9Ogt da-overflow{
    animation: color-change 3s infinite;
} */
.friendsEmpty-1K9B4k{
    background-color: black;
}
.scroller-2FKFPG .da-scroller .messages-3amgkR .scroller-3sQKXg .da-scroller{
    background-color: blue;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-track-piece{
    background-color: transparent;
    border: none;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB>.scroller-2FKFPG::-webkit-scrollbar-thumb{
    background-color: #72EB76;
}
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover{
    background-color: transparent;
}
.mentioned-xhSam7{
    background-color: transparent;
}
.sidebar-CFHs9e{
    text-align: center;
}
